body{
    margin: 0;
    padding: 0;
    background-color: #F8F7F7;
}

header{
    height: 32px;
    margin: 0;
    padding: 12px 30px 36px 30px;
    background-color: #FFFFFF;
}

header .logo{
    float: left;
    display: inline;
    font-size: 10px;
}

header .logo img{
    vertical-align: bottom;
}

header .logo p{
    margin-left: 16px;
    letter-spacing: 10px;
    display: inline;
}

header .head_nav{
    float: right;
    line-height: 100%;
}

header .head_nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 0;
}

header .head_nav ul li{
    display: inline;
    font-size: 12px;
    color: #181818;
    margin-left: 8px;
}

header .head_nav ul li .username{
    display: inline;
}

a:link,a:visited{
    color: #181818;
    text-align: center;
    text-decoration: none;
}

a:hover,a:active{
    color: #ff4400;
}

header .tel{
    display: inline;
    font-family: Calibri,sans-serif;
    font-size: 20px;
    float: right;
    margin-right: 6px;
}

.tel img{
    vertical-align: middle;
}

.order{
    padding-left: 58px;
    padding-right: 30px;
    padding-top: 22px;
    background-color: #F8F7F7;
}

.order .order_head .order_price{
    font-size: 14px;
    font-weight: bold;
    color: #3B3B3B;
}

.order .order_head .order_price p{
    margin: 0;
    padding-top: 2px;
    font-size: 12px;
    color: #3B3B3B;
    display: inline;
    padding-left: 600px;
}

.order .order_head .order_price p span{
    padding-top: 2px;
    color: #FF7400;
    display: inline;
}

.order .order_head .order_price p #sign{
    font-size: 10px;
}

.order .order_head p{
    font-size: 12px;
    color: #5C5C5C;
    display: inline;
}

.order .order_head p #time{
    color: #FF7400;
}

.order .order_head p img{
    vertical-align: middle;
}

.order .order_head p #security{
    color: #2E97D9;
}

.order .order_head #order_detail_logo{
    margin-left: 450px;
    color: #2E97D9;
}

.order .order_detail{
    margin-top: 21px;
    border-top: 1px solid #5C5C5C;
    font-size: 0;
}

.order .order_detail .renter{
    font-size: 12px;
    color: #5C5C5C;
    margin-top: 20px;
    padding: 0;
}

.order .order_detail .renter p{
    display: inline;
    margin-right: 22px;
}

.order .order_detail .renter p span{
    color: #FF7200;
}

.order .order_detail .renter p .sign{
    font-size: 10px;
}

.order .order_detail .get{
    display: inline;
    float: left;
}

.order .order_detail .get p{
    font-size: 12px;
    color: #5C5C5C;
    margin-top: 16px;
}

.order .order_detail .return{
    display: inline;
    float: left;
    margin-left: 56px;
}

.order .order_detail .return p{
    font-size: 12px;
    color: #5C5C5C;
    margin-top: 16px;
}

.payment{
    margin: 16px 30px 0;
    background-color: #FFFFFF;
}

.payment .notice{
    font-weight: bold;
    font-size: 14px;
    color: #181818;
    height: 44px;
    line-height: 44px;
    text-indent: 28px;
    background-color: #E5E5E5;
    border: 1px solid #5C5C5C;
}

.payment .bank_card{
    background-color: #FFFFFF;
    height: 60px;
    border: 2px solid #5C5C5C;
    border-radius: 2px;
    margin: 28px;
}

.payment .bank_card img{
    vertical-align: middle;
    margin-left: 20px;
}

.payment .bank_card .card{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.payment .bank_card .bank{
    height: 38px;
    padding-left: 20px;
    border: 1px solid #BDE395;
    border-radius: 1px;
    margin-top: 10px;
    display: inline-block;
    margin-left: 180px;
}

.payment .bank_card .bank img{
    vertical-align: middle;
    margin: 0;
}

.payment .bank_card .bank p{
    padding: 0;
    margin: 0;
    height: 20px;
    line-height: 20px;
    color: #5C5C5C;
    font-size: 12px;
    display: inline-block;
}

.payment .bank_card .bank .card{
    color: #181818;
}

.payment .bank_card .bank .tips{
    color: #848484;
}

.payment .bank_card .bank .box{
    display: inline-block;
    width: 39px;
    height: 39px;
    background-color: #B1DD81;
}

.payment .bank_card .bank .box img{
    text-align: center;
    margin-left: 6px;
}

.payment .bank_card .new_card{
    display: inline-block;
    font-size: 12px;
    color: #2E97D9;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    margin-left: 20px;
}

.payment .bank_card .pay{
    display: inline-block;
    font-size: 12px;
    color: #3B3B3B;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    margin-left: 100px;
}

.payment .bank_card .pay span{
    color: #FF7200;
    font-size: 14px;
}

.payment .tel{
    margin-top: 2px;
    padding-bottom: 44px;
    margin-left: 118px;
    font-size: 0;
}

.payment .tel #text{
    width: 164px;
    height: 35px;
    padding: 0;
    border-radius: 2px;
    text-indent: 5px;
}

.payment .tel #button{
    width: 130px;
    height: 35px;
    border-radius: 2px;
    border-width: 0;
    margin-left: 10px;
}

.payment .tel p{
    display: inline-block;
    font-size: 12px;
    color: #5C5C5C;
    margin-left: 10px;
}

.payment .tel #tel_number{
    font-size: 11px;
}

.payment .tel img{
    vertical-align: top;
    margin-left: 5px;
    margin-top: 14px;
}

.payment .tel .pay_now{
    margin-top: 24px;
    height: 50px;
    padding: 0;
}

.payment .tel .pay_now #pay{
    height: 50px;
    width: 260px;
    background-color: #61BA03;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border-radius: 3px;
    border-width: 0;
}

.online_payment{
    margin-top: 14px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: #FFFFFF;
}

.online_payment .online_bank{
    margin: 0 50px;
    font-size: 14px;
    color: #61BA03;
    height: 40px;
    line-height: 40px;
    text-indent: 22px;
    border: 1px solid #5C5C5C;
    border-radius: 2px;
}

.online_payment .online_bank input{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 16px;
    border-width: 0;
    height: 20px;
    background-color: #61BA03;
    color: #FFFFFF;
    font-size: 12px;
    border-radius: 3px;
    float: right;
}

.online_payment .wechat{
    margin: 12px 50px 0;
    font-size: 14px;
    color: #61BA03;
    height: 40px;
    line-height: 40px;
    text-indent: 22px;
    border: 1px solid #5C5C5C;
    border-radius: 2px;
}

footer{
    margin-top: 57px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 22px;
    height: 42px;
    text-align: right;
    padding-right: 330px;
    font-size: 10px;
    color: #848484;
    border-top: 1px solid #5C5C5C;
}

.clear{
    clear: both;
}